<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/common :: myheader"></div>
</head>
<body>


	<main role="main" class="container">
		<nav th:replace="fragments/common :: mynavbar"></nav>


		<h1 align="left">New Product</h1>

		<form class="form-group" th:action="@{/new/product}"
			th:object="${product}" method="post">
			<div>
				<p>
					<label for="name" class="col-sm-2 col-form-label">Product
						Name:</label> <input type="text" th:field="*{name}" id="name"
						placeholder="Product Name"> <span
						th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</p>
				<p>
					<label for="sku" class="col-sm-2 col-form-label">Product
						SKU:</label> <input type="text" th:field="*{sku}" id="sku"
						placeholder="Product SKU"> <span
						th:if="${#fields.hasErrors('sku')}" th:errors="*{sku}"></span>

				</p>
				<p>
				<div class="input-group mb-3">
					<label for="price" class="col-sm-2 col-form-label">Price:</label>
					<div class="input-group-prepend">
						<span class="input-group-text">£</span>
					</div>

					<input type="text" th:field="*{price}" id="price"
						placeholder="Product price"> <span
						th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
				</div>
				</p>

				<p>
					<label for="weight" class="col-sm-2 col-form-label">Product
						weight:</label><input type="text" th:field="*{weight}" id="weight"
						placeholder="Product Weight"> <span
						th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></span>
				</p>
				<p>
					<label for="Description" class="col-sm-2 col-form-label">Product
						Description:</label>
					<textarea rows="3" cols="80" type="text" th:field="*{description}"
						id="description" placeholder="Category Description">
						</textarea>
					<span th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"></span>
				</p>
				<p>
					<label for="dateCreated" class="col-sm-2 col-form-label">Date
						Created:</label> <input type="date" th:value="*{dateCreated}"
						th:field="*{dateCreated}" /> <span
						th:if="${#fields.hasErrors('dateCreated')}"
						th:errors="*{dateCreated}"></span>
				</p>
				<p>
					<label for="stockQuantity" class="col-sm-2 col-form-label">Quantity:</label>
					<input type="text" th:field="*{stockQuantity}" id="stockQuantity"
						placeholder="Product Quantity"> <span
						th:if="${#fields.hasErrors('stockQuantity')}"
						th:errors="*{stockQuantity}"></span>
				</p>
				<p>
					<label for="categories" class="col-sm-2 col-form-label">Category:</label>
					<select name="Category" th:field="*{category}">
						<option th:each="categories : ${categories}"
							th:value="${categories.categoriesId}"
							th:text="${categories.name}"
							th:selected="${categories.categoriesId}"></option>

					</select> <span th:if="${#fields.hasErrors('category')}"
						th:errors="*{Category}"></span>
				</p>



				<!-- Do not display this image at the moment
				<p>
					<input type="file" name="imageFile" class="form-control-file"><span
						th:if="${#fields.hasErrors('thumbnail')}" th:errors="*{thumbnail}"></span>
				</p>
				-->



				<button type="submit" class="btn btn-primary">Submit</button>
				<button type="reset" class="btn btn-secondary">reset</button>

			</div>
	</main>


</body>
</html>