<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/common :: myheader"></div>
</head>
<body>


	<main role="main" class="container">
		<nav th:replace="fragments/common :: mynavbar"></nav>




		<main role="main" class="container">
			<h1 align="left">Products</h1>

			<div class="alert alert-danger" th:if="${error != null}"
				th:text="${error}"></div>
			<div th:if="${not #lists.isEmpty(product)}">


				<table class="table table-striped">
					<tr>
						<th>Image</th>
						<th>Product Name</th>
						<th sec:authorize="hasRole('ROLE_ADMIN')">Product SKU</th>
						<th>Product Price</th>
						<th>Product Weight</th>
						<th>Product Description</th>
						<th 7>Date Created</th>
						<th sec:authorize="hasRole('ROLE_ADMIN')">Product Quantity</th>
						<th>Product Category</th>
						<th>Actions</th>

					</tr>
					<tr th:each="product : ${product}">
						<td><img th:src="${product.image}"></td>
						<td th:text="${product.name}"></td>
						<td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${product.sku}"></td>
						<td th:text="'£' + ${product.price}"></td>
						<td th:text="${product.weight}"></td>
						<td th:text="${product.Description}"></td>
						<td sec:authorize="hasRole('ROLE_ADMIN')"
							th:text="${product.dateCreated}"></td>
						<td sec:authorize="hasRole('ROLE_ADMIN')"
							th:text="${product.stockQuantity}"></td>




						<td th:text="${product.category?.name}"></td>


						<td>
							<div sec:authorize="hasRole('ROLE_ADMIN')">
								<a class="btn btn-primary" href="#"
									th:href="@{/edit/product/} + ${product.productId}">Edit</a> <a
									class="btn btn-danger" href="#"
									th:href="@{/remove/product/} + ${product.productId}">delete</a>
							</div> <a class="btn btn-primary"
							th:href="@{/product/view/} + ${product.productId}">Add to
								basket</a>


						</td>

					</tr>
				</table>

			</div>
			<div th:if="${#lists.isEmpty(product)}">
				<P>No Products to show</P>
			</div>



		</main>






	</main>


</body>
</html>