<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/common :: myheader"></div>
</head>
<body>


	<main role="main" class="container">
		<nav th:replace="fragments/common :: mynavbar"></nav>




		<main role="main" class="container">
			<h1 align="left">Orders</h1>

			<div class="alert alert-danger" th:if="${error != null}"
				th:text="${error}"></div>
			<div th:if="${not #lists.isEmpty(order)}">


				<table class="table table-striped">
					<tr>
						<th>Order Number</th>
						<th>Shipping Address</th>
						<th>Ordered On</th>
						<th sec:authorize="hasRole('ROLE_ADMIN')">Customer Email</th>
						<th>Order Status</th>

					</tr>
					<tr th:each="orders : ${order}">
						
						<td th:text="${orders.ordersId}"></td>
						
						<td th:text="${orders.shippingAddress}"></td>
						<td th:text="${orders.oderDate}"></td>
						<td th sec:authorize="hasRole('ROLE_ADMIN')" th:text="${orders.customer.email}"></td>
						<td th:text="${orders.orderStatus}"></td>
						


						<td>
							<a class="btn btn-primary"
							th:href="@{/view/order/} + ${orders.ordersId}">View order details</a>


						</td>

					</tr>
				</table>

			</div>
			<div th:if="${#lists.isEmpty(order)}">
				<P>No Orders to show</P>
			</div>



		</main>






	</main>


</body>
</html>