<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/common :: myheader"></div>
</head>
<body>


	<main role="main" class="container">
		<nav th:replace="fragments/common :: mynavbar"></nav>




		<main role="main" class="container">
			<h1 align="left">Products</h1>


		</main>
		<form th:action="@{/cart/add}">
			<table class="table table-striped">

				<tr>
					<th>Order Number</th>
					<td th:text="${order.ordersId}"></td>
				</tr>
				<tr>
					<th>Shipping Address</th>
					<td th:text="${order.shippingAddress}"></td>
				</tr>
				<tr>
					<th>Customer Email</th>
					<td th:text="${order.customer.email}"></td>
				</tr>
				
				<tr>
					<th>Products</th>
					
				<table class="table table-striped">
					<tr>
						<th>Image</th>
						<th>Product Name</th>
						<th sec:authorize="hasRole('ROLE_ADMIN')">Product SKU</th>
						<th>Product Price</th>
						<th>Product Weight</th>
						<th>Product Description</th>
						<th sec:authorize="hasRole('ROLE_ADMIN')">Date Created</th>
						<th sec:authorize="hasRole('ROLE_ADMIN')">Product Quantity</th>
						<th>Product Category</th>
						

					</tr>
					<tr th:each="product : ${order.products}">
						<td><img th:src="${product.image}"></td>
						<td th:text="${product.name}"></td>
						<td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${product.sku}"></td>
						<td th:text="'£' + ${product.price}"></td>
						<td th:text="${product.weight}"></td>
						<td th:text="${product.Description}"></td>
						<td sec:authorize="hasRole('ROLE_ADMIN')"
							th:text="${product.dateCreated}"></td>
						<td sec:authorize="hasRole('ROLE_ADMIN')"
							th:text="${product.stockQuantity}"></td>




						<td th:text="${product.category?.name}"></td>


						

					</tr>
				</table>
				

			</table>
		</form>





	</main>


</body>
</html>